body {
    background-color: rgb(70, 70, 70);
    color:hotpink;
}

header {
    text-align:center;
}

header h1 {
    font-size:30px;
    text-align:center;
}
.flex-container {
    display:flex;
    background-color: lightsalmon;
}
.flex-container > div{
    background-color: lightgreen;
    margin:  10px;
    padding:20px;
    font-size:30px;
}
.gri {
    display:grid;
    width:100%;
    grid-template-columns: repeat(12, 1fr);
    background-color: indigo;
    color: lightcyan;

    }

 .column {
display:flex;
flex-direction: column;
}

.card-header {
    position: relative;
    margin-top: -20px;

}